@import "tailwindcss";

@theme {
  --font-sans: "DM Sans", "Segoe UI", Inter, system-ui, sans-serif;
  --font-display: "Playfair Display", Georgia, "Times New Roman", serif;

  --color-violet-heritage: #311B92;
  --color-violet-electric: #7C3AED;
  --color-base-black: #09090B;
  --color-base-white: #FFFFFF;
  --color-soft-gray: #F4F4F5;
}
